.nav-pills{
	font-weight: bold;
	padding:5px;  
} 
.nav-pills > li{ 
	-webkit-transition:0.3s;
	border-radius: 0px;
} 
.nav-pills > li > a{
	color: #fff;
	transition:0.3s;
	border-radius: 0px;
	transition:0.3s; 
} 
.nav-pills > li > a:hover{
	background-color: #66c2ff;
	background: linear-gradient(to bottom, #66c2ff, #007acc);
} 
.navbar-fixed-top> a > img{ 
	margin-left: 20px;
	max-height: 50px; 
	padding:5px;
	margin-top:-20px; 
	width:150px; 
}
.glyphicon{
	color: #00ccff;
}
.glyphicon-triangle-right{
	color: #008fb3;
	font-size: 11px;
 }
.well{ 
	text-align: center;
	padding-bottom: 0px;

} 
input#search-bar{
	border-radius:30px;
	border-spacing: 
}

/*Index Panel*/
.panel-default {   
	
}
.panel > #index-panel-head{ 
	background: linear-gradient(90deg, #777, #ccc); 
	border: none;
	color: #fff;
	font-weight: bold;   
}
